.btn{
  font-size: 18px;
  padding: 10px 15px;
  line-height: 23px;
  font-weight: 400;
  min-width: 150px;
  text-transform: none;
  color: var(--bs-black);
  text-decoration: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease-out;
  &:disabled {
    background: var(--bs-gray);
    box-shadow: 0px 0px 3px var(--bs-gray);
    transition: all 0.2s ease-out;
    &:hover {
      background: var(--bs-gray);
      box-shadow: 0px 0px 3px var(--bs-gray);
      transition: all 0.2s ease-out;
    }
  }
  &-green {
    background: var(--bs-teal);
    &:hover {
      background: var(--bs-success);
      color: var(--bs-white);
      transition: all 0.2s ease-out;
    }
  }
  &-blue {
    background: var(--bs-primary);
    color: var(--bs-white);
    &:hover {
      background: var(--bs-success);
      color: var(--bs-white);
      transition: all 0.2s ease-out;
    }
  }
  &-warning {
    background: var(--bs-warning);
    color: var(--bs-white);
    &:hover {
      background: var(--bs-success);
      color: var(--bs-white);
      transition: all 0.2s ease-out;
    }
  }
}
