.input {
  &-box {
    line-height: 1.5;
    color: var(--bs-gray-600);
    appearance: none;
    background-color:var(--bs-white);
    background-clip: padding-box;
    // border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    font-size: 16px;
    padding: 14px 20px;
    border: 1px solid var(--bs-gray-500);
    text-align: left;
    outline:none;
    &.is-invalid {
      border-color: var(--bs-danger);
    }
    &:focus {
      border: 1px solid var(--bs-primary);
    }
  }
  &-icon {
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0.5;
    :hover{
      cursor: pointer;
    }
  }
  &-label {
    position: absolute;
    font-size: 14px;
    top: -12px;
    left: 10px;
    padding:0 8px;
    z-index: 10;
    background: var(--bs-white);
    color: var(--bs-gray-600);
  }
  &-error {
    position: absolute;
    font-size: 14px;
    bottom: -7px;
    left: 10px;
    padding:0 8px;
    background: var(--bs-white);
    color:  var(--bs-danger);
  }
}

.form {
  border: 1px solid var(--bs-primary);
  border-radius: 0px;
  padding-bottom: 20px;

  &-group {
    margin-top: 20px;
    position: relative;
  }

  &-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }

  &-header {
    padding: 10px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }

  &-text {
    padding: 10px;
    background-color: inherit;
    color: var(--bs-gray-600);
  }

  &-container {
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    margin-top: 30px;
  }
}

.table2x{
  flex-basis: 50%;
  padding: 0 20px;
  max-width: 750px;
}
.table1x{
  padding: 0 20px;
  // max-width: 750px
  width: 100%;
}

