.input {
  &-box {
    line-height: 1.5;
    color: var(--bs-gray-600);
    appearance: none;
    background-color:var(--bs-white);
    background-clip: padding-box;
    // border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    font-size: 14px;
    padding: 10px 10px;
    border: 1px solid var(--bs-gray-500);
    text-align: left;
    outline:none;
    &.is-invalid {
      border-color: var(--bs-danger);
    }
    &:focus {
      border: 1px solid var(--bs-primary);
    }
  }
  &-icon {
    position: absolute;
    right: 10px;
    top: 15px;
    opacity: 0.5;
    :hover{
      cursor: pointer;
    }
  }
  &-label {
    position: absolute;
    font-size: 12px;
    top: -8px;
    left: 8px;
    padding:0 5px;
    z-index: 10;
    background: var(--bs-white);
    color: var(--bs-gray-600);
  }
  &-error {
    position: absolute;
    font-size: 10px;
    bottom: -7px;
    left: 10px;
    padding:0 8px;
    background: var(--bs-white);
    color:  var(--bs-danger);
  }
}

input[type="color"]{
  padding: 0;
  height: 40px;
}

.form {
  border: 1px solid var(--bs-primary);
  border-radius: 0px;
  padding-bottom: 20px;
  min-height: 400px;
  display: flex;
  flex-direction: column;

  &-group {
    margin-top: 10px;
    position: relative;
  }

  &-row {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
  }

  &-box {
    border-radius: 5px;
    padding: 1rem;
    margin: 10px;
    margin-bottom: 1rem;
    border: 1px solid var(--bs-gray-300);
    width: 100%;    
  }

  &-buttons {
    margin-top: 10px;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-header {
    padding: 10px;
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }

  &-text {
    padding: 10px;
    background-color: inherit;
    color: var(--bs-gray-600);
  }

  &-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  &-search {
    margin-left: auto;
    @media (max-width: 768px) {
      margin-left: 0;
    }
    display: flex;
    position: relative;
  }

  &-icons {
    position: absolute;
    display: flex;
    gap: 5px;
    height: 43px;
    align-items: center;
    right: 0px;
    top: 0px;
  }

  &-container {
    max-width: 1440px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // margin: 0 auto;
    // margin-top: 30px;
  }

  &-line {
    border-top: 0.25px solid var(--bs-gray-600);
    margin: 0 20px;
  }

  &-bottom {
    flex-shrink: 0;
  }

  &-middle {
    flex-grow: 1;    
  }
}

.group {
  &-items {
    display: inline-flex;
    flex-wrap: wrap;
    padding: 8px 0px;
    gap: 5px;
  }
  &-item {
    display: flex;
    align-items: center;
    border: 1px solid var(--bs-gray-500);
    padding: 5px 10px;
    border-radius: 6px;
    cursor: default;
    color: var(--bs-gray-600);
  }
  &-avatar {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
  } 
  &-delete {
    display: inline-block;
    // float: right;
    margin-left: .3rem;
    cursor: pointer;
    font-weight: bold;
    margin-right: 2px;
  }
}

.table2x{
  flex-basis: 50%;
  padding: 0 20px;
  max-width: 750px;
}
.table1x{
  padding: 0 20px;
  // max-width: 750px
  width: 100%;
}

